* {
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   display: grid;
   grid-template-areas:
      "header"
      "container"
      "footer";
   grid-template-rows: 70px 1fr 70px;
}

header {
   grid-area: header;
   background: #326598;
   color: white;
   text-align: center;
   line-height: 70px;
}

.container {
   height: 100%;
   grid-area: container;
   display: grid;
   grid-template-areas:
      "nav"
      "main"
      "article";
   grid-template-rows: 50px 1fr 50px;
}

nav {
   grid-area: nav;
   background: #fe9901;
   line-height: 50px;
   padding-left: 10px;
}

main {
   grid-area: main;
   padding: 0 10px 150px 10px;
}

article {
   grid-area: article;
   background: #983365;
   line-height: 50px;
   padding-left: 10px;
}

footer {
   grid-area: footer;
   background: #669900;
   color: white;
   text-align: center;
   line-height: 70px;
}

@media screen and (min-width: 600px) {
   .container {
      grid-template-areas:
         "nav main article";
      grid-template-columns: 20% 1fr 20%;
      grid-template-rows: auto;
   }
}