main {
   padding: 0 20px 0 20px;
   font-size: 1rem;
}

.product-list {
   margin-bottom: 20px;
}

.product-list__products {
   display: grid;
   grid-row-gap: 25px;
   justify-content: center;
   width: 100%;
   grid-template-areas:
      "top-deal"
      "top-deal"
      "regular-deal-1"
      "regular-deal-2"
      "regular-deal-3"
      "regular-deal-4";
   grid-template-columns: 1fr;
}

.product-list__container {
   display: grid;
   grid-gap: 25px;
   justify-content: center;
   width: 100%;
   margin: 0px auto;
}

.product-list__other-products {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 25px;
}

.product-list__top-deal {
   width: 100%;
   padding: 20px;
   background: #ffffff;
   height: 445px;
   max-width: 385px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.product-list__top-deal img {
   width: 100%;
}

.product-list__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.product-list__content h2 {
   margin: 0;
}

.product-list__info {
   padding: 30px 0 30px 0;
}

.product-list__price {
   font-size: 1.2rem;
}

.product-list__regular-deal {
   width: 100%;
   padding: 20px;
   background: #ffffff;
   min-height: 210px;
   max-width: 385px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.product-list__regular-deal img {
   width: 70%;
   margin: 0 auto;
}

.product-list__regular-deal h2 {
   font-size: 1.2rem;
   margin: 10px 0 10px 0;
}

.product-list__regular-deal .product-list__price {
   font-size: 0.9rem;
}

.top-deal {
   grid-area: top-deal;
}
.regular-deal-1 {
   grid-area: regular-deal-1;
}
.regular-deal-2 {
   grid-area: regular-deal-2;
}
.regular-deal-3 {
   grid-area: regular-deal-3;
}
.regular-deal-4 {
   grid-area: regular-deal-4;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
   .product-list__container {
      display: grid;
      grid-gap: 25px;
   }

   .product-list__products {
      grid-template-areas:
         "top-deal regular-deal-1"
         "top-deal regular-deal-2"
         "regular-deal-3 regular-deal-4";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 210px 210px 210px;
      grid-gap: 25px;
      margin-top: 20px;
   }

   .product-list__other-products {
      display: grid;
      grid-auto-rows: 210px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
   }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
   .product-list__container {
      display: grid;
      grid-gap: 25px;
   }

   .product-list__products {
      grid-template-areas:
         "top-deal regular-deal-1 regular-deal-2"
         "top-deal regular-deal-3 regular-deal-4";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 210px 210px;
      grid-gap: 25px;
      margin-top: 20px;
   }

   .product-list__other-products {
      display: grid;
      grid-auto-rows: 210px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px;
   }
}

@media screen and (min-width: 1200px) and (max-width: 1539px) {
   .product-list__container {
      display: grid;
      grid-gap: 25px;
   }

   .product-list__products {
      grid-template-areas:
         "top-deal regular-deal-1 regular-deal-2"
         "top-deal regular-deal-3 regular-deal-4";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 210px 210px;
      grid-gap: 25px;
      margin-top: 20px;
   }

   .product-list__other-products {
      display: grid;
      grid-auto-rows: 210px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px;
   }

   main {
      font-size: 0.9rem;
   }

   .product-list__content h2 {
      font-size: 1.1rem;
   }

   .product-list__price {
      font-size: 1rem;
   }

   .product-list__regular-deal img {
      width: 60%;
      margin: 0 auto;
   }
}

@media screen and (min-width: 1540px) {
   .product-list__container {
      display: grid;
      grid-gap: 25px;
      width: 90%;
   }

   .product-list__products {
      grid-template-areas:
         "top-deal regular-deal-1 regular-deal-2"
         "top-deal regular-deal-3 regular-deal-4";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 210px 210px;
      grid-gap: 25px;
      margin-top: 20px;
   }

   .product-list__other-products {
      display: grid;
      grid-auto-rows: 210px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px;
   }

   main {
      font-size: 0.9rem;
   }

   .product-list__content h2 {
      font-size: 1.1rem;
   }

   .product-list__price {
      font-size: 1rem;
   }

   .product-list__regular-deal img {
      width: 50%;
      margin: 0 auto;
   }
}