* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
}

.carousel {
   width: 70%;
   max-width: 800px;
   margin: 20px auto;
}

.carousel__container {
   position: relative;
   height: 400px;
   overflow: hidden;
}

.carousel__slides {
   position: absolute;
   width: 300%;
   height: 100%;
   display: flex;
   left: 0;
}

.carousel__slide {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.carousel__slide:nth-child(1) {
   background: #d88c9a;
}
.carousel__slide:nth-child(2) {
   background: #f2d0a9;
}
.carousel__slide:nth-child(3) {
   background: #f1e3d3;
}

.carousel__content {
   margin-bottom: 7%;
   width: 60%;
   font-size: 0.8em;
   text-align: center;
}

button {
   position: absolute;
   height: 100%;
   width: 15%;
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
   font-size: 2.5rem;
}

.carousel__prev {
   left: 0;
   background: linear-gradient(
      to right,
      rgba(237, 237, 237, 0.5) 0%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
   );
}

.carousel__next {
   right: 0;
   background: linear-gradient(
      to left,
      rgba(237, 237, 237, 0.5) 0%,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
   );
}

.carousel__dots {
   position: absolute;
   display: flex;
   left: 50%;
   top: 90%;
   transform: translate(-50%, -50%);
   width: 80px;
   justify-content: space-between;
}

.carousel__dot {
   height: 15px;
   width: 15px;
   border: 1px solid black;
   border-radius: 50%;
   cursor: pointer;
}

.carousel__dot_active {
   background: black;
}